.inicio-container {
  padding: 2rem;
  text-align: center;
}


.titulo-principal {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 1rem;
}

.descripcion {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #555;
}

.destacados {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
